In [22]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv('1.terror.csv',encoding='latin')

In [24]:
df.shape

(156772, 137)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156772 entries, 0 to 156771
Columns: 137 entries, eventid to related
dtypes: float64(55), int64(24), object(58)
memory usage: 129.2+ MB

In [26]:
print(df.columns.tolist())

['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt', 'provstate', 'city', 'latitude', 'longitude', 'specificity', 'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3', 'doubtterr', 'alternative', 'alternative_txt', 'multiple', 'success', 'suicide', 'attacktype1', 'attacktype1_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt', 'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt', 'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2', 'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3', 'ingroup', 'ingroup2', 'ingroup3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3', 'nperps', 'nperpcap', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related']

In [27]:
df.country_txt.unique()

array(['Dominican Republic', 'Mexico', 'Philippines', 'Greece', 'Japan',
       'United States', 'Uruguay', 'Italy', 'East Germany (GDR)',
       'Ethiopia', 'Guatemala', 'Venezuela', 'West Germany (FRG)',
       'Switzerland', 'Jordan', 'Spain', 'Brazil', 'Egypt', 'Argentina',
       'Lebanon', 'Ireland', 'Turkey', 'Paraguay', 'Iran',
       'United Kingdom', 'Colombia', 'Bolivia', 'Nicaragua',
       'Netherlands', 'Belgium', 'Israel', 'Canada', 'Australia',
       'Pakistan', 'Zambia', 'Sweden', 'Costa Rica', 'South Yemen',
       'Cambodia', 'Taiwan', 'Panama', 'Kuwait',
       'West Bank and Gaza Strip', 'Austria', 'Czechoslovakia', 'India',
       'France', 'South Vietnam', 'Algeria', 'El Salvador', 'Thailand',
       'Haiti', 'Sudan', 'Morocco', 'Cyprus', 'Myanmar', 'Afghanistan',
       'Peru', 'Chile', 'Honduras', 'Yugoslavia', 'Ecuador',
       'New Zealand', 'Zaire', 'Portugal', 'Malaysia', 'Singapore',
       'Botswana', 'Jamaica', 'Chad', 'North Yemen', 'Andorra', 'Syria',
       'South Korea', 'United Arab Emirates', 'South Africa', 'Kenya',
       'Iraq', 'Somalia', 'Tanzania', 'Sri Lanka', 'Namibia', 'Bahamas',
       'Barbados', 'Trinidad and Tobago', 'Bangladesh',
       "People's Republic of the Congo", 'Angola', 'Mauritania',
       'Saudi Arabia', 'Djibouti', 'Indonesia', 'Malta', 'Rhodesia',
       'Soviet Union', 'Denmark', 'Western Sahara', 'Guyana',
       'Mozambique', 'Tunisia', 'Uganda', 'Norway', 'Poland', 'Lesotho',
       'Gabon', 'Libya', 'Bahrain', 'Nigeria', 'Hong Kong', 'Senegal',
       'Zimbabwe', 'Guinea', 'Grenada', 'New Hebrides', 'Belize',
       'Guadeloupe', 'Martinique', 'Vatican City', 'Albania',
       'Central African Republic', 'Seychelles', 'Dominica', 'Qatar',
       'Bulgaria', 'Suriname', 'Swaziland', 'Luxembourg', 'Iceland',
       'French Guiana', 'Falkland Islands', 'Burkina Faso',
       'New Caledonia', 'Romania', 'Niger', 'Nepal', 'Togo', 'Finland',
       'Fiji', 'Ghana', 'Gibraltar', 'Mauritius', 'Hungary', 'Laos',
       'Papua New Guinea', 'China', 'Liberia', 'Republic of the Congo',
       'Mali', 'Germany', 'Yemen', 'Rwanda', 'Sierra Leone', 'Cameroon',
       'Cuba', 'Croatia', 'Georgia', 'Azerbaijan', 'Madagascar',
       'Lithuania', 'Burundi', 'Ukraine', 'Moldova', 'Armenia', 'Russia',
       'Ivory Coast', 'Kazakhstan', 'Antigua and Barbuda',
       'Bosnia-Herzegovina', 'Equatorial Guinea', 'Tajikistan', 'Malawi',
       'Uzbekistan', 'Latvia', 'Brunei', 'Estonia', 'Vietnam', 'Comoros',
       'Benin', 'Slovak Republic', 'Macedonia', 'Wallis and Futuna',
       'Belarus', 'Czech Republic', 'Slovenia', 'Gambia', 'North Korea',
       'Eritrea', 'St. Kitts and Nevis', 'French Polynesia', 'Macau',
       'Kyrgyzstan', 'Vanuatu', 'Democratic Republic of the Congo',
       'Kosovo', 'Solomon Islands', 'East Timor', 'St. Lucia',
       'Guinea-Bissau', 'Montenegro', 'International', 'Turkmenistan',
       'Serbia-Montenegro', 'Maldives', 'Bhutan', 'Serbia', 'South Sudan'],
      dtype=object)

### Q1)  How many attacks happened in India?

In [28]:
(df.country_txt=='India').sum()

9940

### Q.2) How many attacks happened in India and upto 3 people were killed?

In [29]:
(df[df['country_txt']=='India']['nkill']<4).sum()

8362

### Q.3) Extract the city and summary for attacks above

In [30]:
df[(df.nkill<4) & (df.country_txt=='India')][['city','summary']].head()

           city summary
1185  New Delhi     NaN
3780  New Delhi     NaN
5251     Bombay     NaN
7266     Imphal     NaN
8609    Unknown     NaN

In [31]:
df['data']=df.nkill+df.nwound

### Q.4) In a single terror incident in India, find out top 5 cities by number killed

In [32]:
(df[df['country_txt']=='India']).sort_values('nkill',ascending=False)['city'].head().tolist()

['Mumbai', 'Jhargam', 'Bombay', 'Dantewada district', 'Banabari']

### Q.5) In a single terror incident in India, find out top 5 cities by number killed and wounded

In [33]:
(df[df['country_txt']=='India']).sort_values('data',ascending=False)['city'].head().tolist()

['Mumbai', 'Dispur', 'Jhargam', 'Chennai', 'New Delhi']

In [34]:
df.drop('data',axis=1,inplace=True)

### Q.6) How many attacks were successful that were suicide attacks?

In [35]:
(df[df['suicide']==1]['success']==1).sum()

4260

### Q.7) Label all the incidents where the number killed was more than 5 as severe.

In [36]:
df['severe']=(df.nkill>5)
df['severe'].sum()

13874

In [37]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,severe
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,PGIS,0,0,0,0,NaN,False
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,PGIS,0,1,1,1,NaN,False
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,False
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,False
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,False

### Q.8) write a function to label an incident that was both successful and suicidal

In [38]:
def get(x):
    if(x==1):
        return True
    else:
        return False

In [55]:
df['Both']=df[['suicide','success']].all().apply(get)
df.Both.unique()

array([nan], dtype=object)

### Q.9) Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the

In [ ]:
df['category']=((df.country_txt=='India') | (df.country_txt=='Pakistan') | (df.country_txt=='Afghanistan') )
df.category.sum()

In [ ]:
df.category=df['category'].map({True:'Local',False:'ROW'})

### Q.10) How many incidents happened in Af-Pak-India vs ROW?

In [ ]:
(df.category=='Local').sum()

In [ ]:
(df.category=='ROW').sum()

In [ ]:
df.head()